 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>À propos</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Nous sommes une association étudiante crée en 2014 et basée à Lille 1, qui organise la distribution de paniers de fruits et légumes de saison.</p>
                    <p>Nos objectifs sont divers : promouvoir un mode de consommation alternatif avec de vrais liens entre producteurs et consommateurs, proposer une alimentation saine, et sensibiliser sur les impacts écologiques de l'industrie agro-alimentaire.</p>
                    <div class="about_pic">
                        <img src="img/groupe.jpg" alt="Photo de groupe">
                    </div>
                </div>
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#panier" class="btn btn-lg btn-outline">
                        🍎 Commande un panier 
                    </a>
                </div>
            </div>
        </div>
    </section>