    <!-- Header -->
    <header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="img/logo.png" alt="Coup d'pousse">
                    <div class="intro-text">
                        <hr class="star-light">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <ul class="bxslider">
                      <li><img src="img/pan1.png" alt="Coup d'pousse"/></li>
                      <li><img src="img/pan2.png" alt="Panier de saison, bio"/></li>
                      <li><img src="img/pan3.png" alt="Circuit court, solidaire, écologique"/></li>
                    </ul>
                </div>
            </div>
        </div>
    </header>