 <!-- jQuery Version 1.11.0 -->
    <script src="/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/js/jquery.easing.min.js"></script>
    <script src="/js/classie.js"></script>
    <script src="/js/cbpAnimatedHeader.js"></script>

    <!-- Slider -->
    <script src="/js/jquery.bxslider.min.js"></script>
    <link href="/js/jquery.bxslider.css" rel="stylesheet" />
    <script>
        $(document).ready(function(){
            $('.bxslider').bxSlider({
                auto: true
            });
        });
    </script>

    <!-- Custom Theme JavaScript -->
    <script src="/js/freelancer.js"></script>
