
    <!-- Portfolio Grid Section -->
    <section id="panier">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Nos paniers !</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <iframe class="ha_vignette" src="https://www.helloasso.com/associations/coup-d-pousse/evenements/13e-distribution-de-legumes/widget-vignette"></iframe>
            <iframe class="ha_horizonthal" src="https://www.helloasso.com/associations/coup-d-pousse/evenements/13e-distribution-de-legumes/widget-vignette-horizontale"></iframe>
        </div>
    </section>
